@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container p-3 my-3 bg-light border">
    <div class="row">
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/bloemen.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/bloemen.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/bloemen.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/fiets.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/fiets.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/fiets.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/urbex.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/urbex.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="thumbnail border">
                <img src="Images/urbex.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                <a class="addCart" title="add to shoping cart"><i class="material-icons" style="cursor: pointer;">add_shopping_cart</i></a>
            </div>
        </div>
    </div>
</div>