@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <p><a href="#WebshopModel"><img src="Resources/urban-exploration.jpg"></a></p>
    <div>
       


    </div>
    <br>
    <p>Users:</p>
     @foreach (var item in Model.Users) 
     { 
         <p> Name: @item.first_name @item.last_name admin: @item.admin</p> 
     } 
</div> 
