@page
@model Website_Hoekstra.Pages.UpdatePhotoModel
@{
}

<form method="post" asp-page-handler="Update">
    Titel: <input asp-for="UpdatePhoto.title" />
    <span asp-validation-for="UpdatePhoto.title"></span>
    Beschrijving: <input asp-for="UpdatePhoto.description" />
    <span asp-validation-for="UpdatePhoto.description"></span>
    Prijs: <input asp-for="UpdatePhoto.price" />
    <span asp-validation-for="UpdatePhoto.price"></span>
    <input type="hidden" asp-for="UpdatePhoto.path" />
    <input type="hidden" asp-for="UpdatePhoto.picture_id" />
    <input type="hidden" asp-for="UpdatePhoto.category_id" />
    <button type="submit">Update informatie</button>
</form>